.profileCard {
    background-color: #080808;
    border-radius: 15px;

    padding: 20px;

    color: #ffffff;

    h1 {
        border-bottom: 1px solid #646464;

        padding-bottom: 15px;

        font-size: 28px;
        font-weight: 500;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;

        padding: 50px;

        .dataGroup {
            border-bottom: 2px solid #7c2dbd;

            display: flex;
            flex-direction: column;
            gap: 8px;
            grid-column: span 4;

            padding-bottom: 8px;

            p {
                color: #646464;
                font-size: 18px;
                font-weight: bold;

                &:last-child {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .profileCard {
        .info {
            .dataGroup {
                grid-column: span 2;
            }
        }
    }
}

@media (min-width: 1440px) {
    .profileCard {
        .info {
            .dataGroup {
                grid-column: span 1;
            }
        }
    }
    
}
