.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    margin: 20px 0;

    button {
        background-color: #646464;
        border-radius: 5px;

        color: rgba(#ffffff, 0.5);

        cursor: pointer;
        transition: all 300ms ease;

        &:hover {
            background-color: #7c2dbd;

            color: #ffffff;

            img {
                filter: opacity(1) invert(1);
            }
        }
    }

    .prevButton,
    .nextButton {
        padding: 16px 24px;

        img {
            filter: opacity(0.5) invert(1);

            transition: all 300ms ease;
        }
    }

    .prevButton {
        img {
            transform: rotate(-90deg);
        }
    }

    .nextButton {
        img {
            transform: rotate(90deg);
        }
    }

    .pageNumber {
        padding: 11px 22px;

        font-size: 18px;

        &.active {
            background-color: #7c2dbd;

            color: #ffffff;
        }
    }
}
