.header {
    border-bottom: 2px dotted #646464;

    padding: 20px 0;

    color: #646464;
    text-align: center;

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        font-weight: lighter;
    }
}

.main {
    padding: 50px;
}
