.tableFilter {
    background-color: #080808;
    border-radius: 20px;

    display: flex;
    align-items: center;
    gap: 2px;

    button {
        background-color: #646464;
        border: 2px solid transparent;

        display: flex;
        align-items: center;
        gap: 12px;

        padding: 10px;

        color: rgba($color: #ffffff, $alpha: 0.6);
        font-size: 14px;

        cursor: pointer;
        transition: all 300ms ease;

        &:first-child {
            border-radius: 20px 0 0 20px;
        }

        &:last-child {
            border-radius: 0 20px 20px 0;
        }

        &:hover {
            color: #080808;
        }

        &.active {
            background-color: #7c2dbd;

            color: #ffffff;

            img {
                width: 14px;
            }
        }

        img {
            position: relative;

            width: 0;
            height: auto;

            filter: invert(1);
            transition: all 300ms ease;
        }
    }
}
