@import "tailwindcss";

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > img {
    margin-top: 20%;
    width: 30%;
    max-width: 150px;
    height: auto;
  }

  div {
    width: 100%;

    &#logoExtend {
      display: none;
    }
  }
}

@media (min-width: 768) {
  #authForm {
    flex-direction: row;

    height: 100vh;

    & > img {
      display: none;
    }

    div {
      &#logoExtend {
        background-color: #7c2dbd;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: stretch;

        img {
          background-color: #ffffff;
          border-radius: 50%;

          width: 100%;
          max-width: 400px;
          height: auto;
        }
      }
    }
  }
}
