.table {
    background-color: #9b9b9b;
    border-radius: 30px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);

    height: calc(100vh - 309px);

    text-align: center;

    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
        background-color: #646464;
        border-radius: 20px;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    .head {
        background-color: #646464;
        border-bottom: 1px solid #080808;

        padding: 25px 0;

        color: #ffffff;
        font-size: 18px;
        font-weight: 500;

        label {
            border: 2px solid #ffffff;

            &.checked {
                background-color: #ffffff;
                border: 2px solid #646464;
            }
        }
    }

    .body {
        border-bottom: 1px solid #ffffff;

        padding: 25px 0;

        color: #080808;
        font-size: 14px;
        font-weight: normal;

        transition: all 300ms ease;

        &.name {
            cursor: pointer;

            &:hover {
                color: #ffffff;
            }
        }

        &.checked {
            color: #ffffff;
        }
    }

    label {
        border: 2px solid #080808;
        border-radius: 5px;

        position: relative;
        top: 5px;

        display: block;

        margin-left: 40px;
        width: 18px;
        height: 18px;

        cursor: pointer;

        transition: all 300ms ease;

        &.checked {
            background-color: #ffffff;
            border: 2px solid #9b9b9b;
        }
    }

    input {
        display: none;
    }
}
